<div class="tab-nav">
  <ul class="tab-list">
    <li>
      <button
        class="direction-btn tab active"
        data-direction="up"
        x-data="directionSelector"
        @click="updateDirection"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
      </button>
    </li>
    <li>
      <button
        class="direction-btn tab"
        data-direction="down"
        x-data="directionSelector"
        @click="updateDirection"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
    </li>
  </ul>
</div>
